<bb-modal-ui [isOpen]="openDialog"
             (confirm)="onConfirmDialog()"
             (cancel)="onCloseDialog()">
    <bb-modal-header-ui title="Start new case"></bb-modal-header-ui>
    <bb-modal-body-ui>
        <ng-template bbCustomModalBody>
            <form [formGroup]="businessInformationsForm">
                <div>
                    <div class="row mt-2">
                        <div class="col-md-6 mb-3">
                            <bb-input-text-ui label="First name"
                                              formControlName="firstName">
                            </bb-input-text-ui>
                            <bb-input-validation-message-ui [showErrors]="firstName.touched && firstName.invalid">
                                <span *ngIf="firstName.hasError('required')"
                                      i18n>This field is required</span>
                                <span *ngIf="firstName.hasError('flow')"
                                      i18n>{{firstName.errors.flow}}</span>
                            </bb-input-validation-message-ui>
                        </div>
                        <div class="col-md-6 mb-3">
                            <bb-input-text-ui label="Last name"
                                              formControlName="lastName">
                            </bb-input-text-ui>
                            <bb-input-validation-message-ui [showErrors]="lastName.touched && lastName.invalid">
                                <span *ngIf="lastName.hasError('required')"
                                      i18n>This field is required</span>
                                <span *ngIf="lastName.hasError('flow')"
                                      i18n>{{lastName.errors.flow}}</span>
                            </bb-input-validation-message-ui>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 mb-3">
                            <bb-input-text-ui label="Business Name"
                                              formControlName="businessName">
                            </bb-input-text-ui>
                            <bb-input-validation-message-ui [showErrors]="businessName.touched && businessName.invalid">
                                <span *ngIf="businessName.hasError('required')"
                                      i18n>This field is required</span>
                            </bb-input-validation-message-ui>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 mb-3">
                            <bb-input-text-ui label="Email address"
                                              formControlName="email">
                            </bb-input-text-ui>
                            <bb-input-validation-message-ui [showErrors]="email.touched && email.invalid">
                                <span *ngIf="email.hasError('required')"
                                      i18n>This field is required</span>
                                <span *ngIf="email.hasError('flow')"
                                      i18n>{{email.errors.flow}}</span>
                            </bb-input-validation-message-ui>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 mb-3">
                            <bb-input-text-ui label="Business Address"
                                              formControlName="numberAndStreet">
                            </bb-input-text-ui>
                            <bb-input-validation-message-ui
                                                            [showErrors]="numberAndStreet.touched && numberAndStreet.invalid">
                                <span *ngIf="numberAndStreet.hasError('required')"
                                      i18n>This field is required</span>
                            </bb-input-validation-message-ui>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 mb-3">
                            <label for="apt"
                                   class="d-flex align-items-center">
                                <span class="font-weight-bold mr-1"
                                      i18n>Apt/suite</span>
                                <span class="bb-text-support bb-text-default"
                                      i18n>(Optional)</span>
                            </label>
                            <bb-input-text-ui formControlName="apt"></bb-input-text-ui>
                            <bb-input-validation-message-ui [showErrors]="apt.touched && apt.invalid">
                                <span *ngIf="apt.hasError('flow')"
                                      i18n>{{apt.errors.flow}}</span>
                            </bb-input-validation-message-ui>
                        </div>
                    </div>
                    <div class="row">
                        <div class="city col-sm-6 mb-3">
                            <bb-input-text-ui label="City"
                                              class="d-block"
                                              formControlName="city"></bb-input-text-ui>
                            <bb-input-validation-message-ui [showErrors]="city.touched && city.invalid">
                                <span *ngIf="city.hasError('required')"
                                      i18n>This field is required</span>
                            </bb-input-validation-message-ui>
                        </div>
                        <div class="state col-sm-3 mb-3">
                            <bb-dropdown-single-select-ui label="State"
                                                          *ngIf="usaStates"
                                                          class="d-block"
                                                          formControlName="state">
                                <bb-dropdown-single-select-option-ui *ngFor="let state of usaStates"
                                                                     [value]="state.isoCode"
                                                                     [label]="state.code">
                                </bb-dropdown-single-select-option-ui>
                            </bb-dropdown-single-select-ui>
                            <bb-input-validation-message-ui [showErrors]="state.touched && state.invalid">
                                <span *ngIf="state.hasError('required')"
                                      i18n>This field is required</span>
                            </bb-input-validation-message-ui>
                        </div>
                        <div class="zip col-sm-3">
                            <bb-input-text-ui label="ZIP code"
                                              class="d-block"
                                              formControlName="zipCode"></bb-input-text-ui>
                            <bb-input-validation-message-ui [showErrors]="zipCode.touched && zipCode.invalid">
                                <span *ngIf="zipCode.hasError('required')"
                                      i18n>This field is required</span>
                            </bb-input-validation-message-ui>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
    </bb-modal-body-ui>
    <bb-modal-footer-ui>
        <ng-template bbCustomModalFooter>
            <bb-button-ui color="secondary"
                          (click)="onCloseDialog()"
                          i18n>Cancel</bb-button-ui>
            <bb-button-ui (click)="onConfirmDialog()"
                          [disabled]="allowToSubmit()"
                          i18n>Next</bb-button-ui>
        </ng-template>
    </bb-modal-footer-ui>
</bb-modal-ui>