<div class="tab-view mb-4" [innerHTML]="documentHtml$ | async"></div>
<div class="bb-button-bar bb-button-bar--reverse bb-button-bar--spacing-xl">
    <bb-load-button-ui *ngIf="primaryButton$ | async as primaryButton" (click)="submitAction(primaryButton.action)"
      color="primary" id="continue-button" class="bb-button-bar__button">
      {{primaryButton.label}}
    </bb-load-button-ui>
    <bb-button-ui *ngIf="secondaryButton$ | async as secondaryButton" (click)="submitAction(secondaryButton.action)"
      color="secondary" class="bb-button-bar__button">
      {{secondaryButton.label}}
    </bb-button-ui>
</div>
