<bb-ono-jumio-modal [isOpen]="modalIsOpen" [iFrameSaveUrl]="iFrameSaveUrl" (close)="closeModal($event)">
</bb-ono-jumio-modal>
<div class="tab-view mb-4" *ngIf="textDocument$ | async as text" [innerHTML]="text.content"></div>
<div class="bb-button-bar bb-button-bar--reverse bb-button-bar--spacing-xl">
    <bb-load-button-ui (click)="submitAction()"
      color="primary" id="continue-button" class="bb-button-bar__button">
      Retry
    </bb-load-button-ui>
</div>
