<div class="p-5 info-box">
  <p>Review all details of this application and determine whether the customer is eligible for this product. </p>
  <p><strong>Case:</strong> {{taskInstance.caseTitle}}</p>
</div>
<div class="px-4">
  <bb-header-ui
    headingType="h4"
    i18n-heading="@@bb.task-details-view-ui.non-resident-task.main.header"
    heading="Non-resident details"
  ></bb-header-ui>
  <div class="py-2">
    <div class="row mb-3">
      <div class="col-5 bb-text-semi-bold">Full name</div>
      <div class="col-7">{{taskData.fullName}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-5 bb-text-semi-bold">Date of birth</div>
      <div class="col-7">{{taskData.dateOfBirth | date:'MM/dd/yyyy'}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-5 bb-text-semi-bold">Country of citizenship</div>
      <div class="col-7">{{taskData.citizenship.nonResident.citizenshipCountry}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-5 bb-text-semi-bold">Primary tax residence</div>
      <div class="col-7" [innerHTML]="renderAddress(taskData.citizenship.nonResident.residencyAddress)"></div>
    </div>
    <div class="row mb-3">
      <div class="col-5 bb-text-semi-bold">Foreign tax identification number</div>
      <div class="col-7">{{taskData.citizenship.foreignTin || '-'}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-5 bb-text-semi-bold">ITIN <span class="bb-text-support bb-text-default">(US, if applicable)</span></div>
      <div class="col-7">{{taskData.citizenship.nationalTin || '-'}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-5 bb-text-semi-bold">Do you want to receive tax withholding?</div>
      <div class="col-7">{{taskData.citizenship.withholdingTaxAccepted ? 'Yes' : 'No'}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-5 bb-text-semi-bold">Date certified</div>
      <div class="col-7">{{taskData.citizenship.w8ben.accepted ? (taskData.citizenship.w8ben.acceptedAt | date:'MM/dd/yyyy') : '-'}}</div>
    </div>
  </div>
</div>

<div class="bb-button-bar bb-button-bar--reverse bb-button-bar--spacing-sm px-4">
  <bb-load-button-ui
    class="bb-button-bar__button"
    (click)="approve()"
    [isLoading]="loading$ | async"
    i18n="@@bb.task-details-view-ui.non-resident-task.main-form.submit-btn"
  >Approve</bb-load-button-ui>
  <bb-load-button-ui
    class="bb-button-bar__button ml-2"
    color="secondary"
    (click)="tryReject()"
    [isLoading]="loading$ | async"
    i18n="@@bb.task-details-view-ui.non-resident-task.main-form.reject-btn"
  >Reject</bb-load-button-ui>
</div>

<bb-modal-ui [isOpen]="showRejectionNoteForm" (cancel)="onCloseDialog()">
  <bb-modal-header-ui
    title="Please provide reason of rejection"
    i18n-title="@@bb.task-details-view-ui.non-resident-task.rejection-note-form.header"
  ></bb-modal-header-ui>
  <bb-modal-body-ui>
    <ng-template bbCustomModalBody>
      <p class="mt-0" i18n-label="@@bb.task-details-view-ui.non-resident-task.rejection-note-form.info-text">
        This information will be stored within this case.
      </p>
      <form [formGroup]="rejectionNoteForm">
        <bb-textarea-ui label="Rejection reason"
          i18n-label="@@bb.task-details-view-ui.non-resident-task.rejection-note-form.body-label"
          formControlName="rejectionNote">
        </bb-textarea-ui>
        <bb-input-validation-message-ui
          [showErrors]="rejectionNote.touched && rejectionNote.invalid"
          i18n="@@bb.task-details-view-ui.non-resident-task.rejection-note-form.error-message"
        >
          Rejection reason must not be empty.
        </bb-input-validation-message-ui>
      </form>
    </ng-template>
  </bb-modal-body-ui>
  <bb-modal-footer-ui>
    <ng-template bbCustomModalFooter>
      <button class="btn btn-secondary" bbButton type="button" color="secondary"
        (click)="showRejectionNoteForm = false"
        i18n="@@bb.task-details-view-ui.non-resident-task.rejection-note-form.cancel-btn"
      >Cancel</button>
      <button class="btn btn-primary" bbButton type="button"
        (click)="reject(rejectionNoteForm.get('rejectionNote')?.value)"
        i18n="@@bb.task-details-view-ui.non-resident-task.rejection-note-form.submit-btn"
      >Submit</button>
    </ng-template>
  </bb-modal-footer-ui>
</bb-modal-ui>
