<div class="card">
    <div class="card-body">
        <p>Tell me about the status of your residency.</p>
        <form [formGroup]="form">
            <p id="label-citizenship-type" class="bb-text-semi-bold">What is your current residency status?</p>
            <bb-input-radio-group-ui
              formControlName="type"
              aria-labelledby="label-citizenship-type"
              [required]="true"
              [preselect]="false"
            >
              <bb-input-radio-ui [value]="citizenshipTypeEnum.US_CITIZEN" label="US Citizen"></bb-input-radio-ui>
              <bb-input-radio-ui [value]="citizenshipTypeEnum.PERMANENT_RESIDENT" label="Permanent Resident (or Green Card)"></bb-input-radio-ui>
              <bb-input-radio-ui [value]="citizenshipTypeEnum.NON_RESIDENT_ALIEN" label="Non-Resident Alien"></bb-input-radio-ui>
            </bb-input-radio-group-ui>

            <bb-input-validation-message-ui *ngIf="form.get('type')?.errors as errors" [showErrors]="form.touched">
              <div id="required" *ngIf="errors?.required">
                Please select one
              </div>
            </bb-input-validation-message-ui>
          </form>
    </div>
</div>

<div class="bb-button-bar bb-button-bar--spacing-xl">
    <bb-load-button-ui [isLoading]="loading$ | async"
                       color="primary"
                       [disabled]="submitted && form.invalid"
                       class="bb-button-bar__button"
                       (click)="submitAction()"
                       id="continue-button">
      Continue
    </bb-load-button-ui>
    <bb-button-ui *ngIf="backStep$ | async as backStep"
                  data-role="ono-citizenship-selector-back-button"
                  color="secondary"
                  (click)="goBack(backStep)"
                  class="mr-2">Back</bb-button-ui>
  </div>
