<div class="card">
  <div class="card-body">
    <p class="mb-4">
        Are you applying with someone else?
    </p>
    <div class="mb-3">
      <bb-load-button-ui
        class="bb-button-bar__button"
        color="secondary"
        (click)="addCoApplicant(applicationTypeEnum.SINGLE)"
        [isLoading]="loading$ | async"
        i18n
      >
        <i aria-hidden="true" class="bicon bicon-perm-identity mr-2"></i>It's just me
      </bb-load-button-ui>
    </div>
    <div>
      <bb-load-button-ui
        class="bb-button-bar__button"
        color="secondary"
        (click)="addCoApplicant(applicationTypeEnum.CO_APPLICANT)"
        [isLoading]="loading$ | async"
        i18n
      >
        <i aria-hidden="true" class="bicon bicon-group-add mr-2"></i>Add a co-applicant
      </bb-load-button-ui>
    </div>
  </div>
</div>
<div class="bb-button-bar bb-button-bar--spacing-xl">
  <bb-button-ui *ngIf="backStep$ | async as backStep" class="bb-button-bar__button" color="secondary"
    (click)="navigateTo(backStep)" i18n>Back
  </bb-button-ui>
</div>
