<div class="tab-view mb-4">
  <h1>You are not eligible to open an account at this moment.</h1>
  <p>Unfortunately, we have determined that you are currently not eligible to open an account with us.</p>
  <p>To find out more about your application, please call our <a [href]="customerServiceUrl">customer service</a> or
    visit our <a [href]="localBranchUrl">local branch</a>.</p>
  <p class="mt-4">
    <a [href]="productsListhUrl" class="d-flex align-items-center text-decoration-none">
      <bb-icon-ui size="sm" name="arrow-forward" class="mr-1"></bb-icon-ui>
      <small class="font-weight-bold">View other products on our website</small>
    </a>
  </p>
</div>