<div class="content tab-view mb-4" [innerHTML]="documentHtml$ | async"></div>
<bb-load-button-ui *ngIf="linkNavigateTo$ | async as linkNavigateTo"
  (click)="onButtonClick(linkNavigateTo)"
  color="primary"
  i18n="landing journey proceed button|A button to procced after a flow has been completed@@bb.ds-landing-journey.button.text">
  Track your application status
</bb-load-button-ui>
