<bb-header-ui *ngIf="header"
              headingType="h1"
              headingClasses="mb-4"
              [heading]="header">
</bb-header-ui>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <formly-form [fields]="helper.fieldsConfig"
                     [form]="helper.form"
                     [model]="helper.value"></formly-form>
      </div>
    </div>
  </div>
</div>
<div class="bb-button-bar bb-button-bar--spacing-xl">
  <bb-load-button-ui [isLoading]="helper.loading$ | async"
                     color="primary"
                     [disabled]="submitted && helper.form.invalid"
                     class="bb-button-bar__button"
                     (click)="submitAction()"
                     id="continue-button">
    Continue
  </bb-load-button-ui>
  <bb-button-ui *ngIf="backStep$ | async as backStep"
                data-role="ono-anchor-journey-back-button"
                color="secondary"
                (click)="goBack(backStep)"
                class="mr-2">Back</bb-button-ui>
</div>
