<bb-modal-stepper (complete)="submitAction()" [isOpen]="true">
  <cdk-step>
    <ng-container *ngTemplateOutlet="step1Tpl"></ng-container>
  </cdk-step>
  <cdk-step>
    <ng-container *ngTemplateOutlet="step2Tpl"></ng-container>
  </cdk-step>
  <cdk-step [completed]="agreeCtrl.value">
    <ng-container *ngTemplateOutlet="step3Tpl"></ng-container>
  </cdk-step>
</bb-modal-stepper>

<ng-template class="clip-image" #step1Tpl>
  <h2 i18n="@@bb-us-onboarding-introduction-modal.step1-name">It's quick and easy</h2>
  <p i18n="@@bb-us-onboarding-introduction-modal.step1-description">No lines, no waiting, no hassle.<br>
    Sign up in as little as 5 minutes.</p>
</ng-template>

<ng-template #step2Tpl>
  <h2 i18n="@@bb-us-onboarding-introduction-modal.step2-name">It’s safe and secure</h2>
  <p i18n="@@bb-us-onboarding-introduction-modal.step2-description">We take your privacy seriously.
    We will never share any of your information and we encrypt everything.</p>
  <bb-icon-ui name="open-in-browser" color="primary" class="mr-1 ml-2 align-text-top"></bb-icon-ui>
  <a [href]="(links$ | async)?.privacyLink" class="learn-more-link" target="_blank" rel="noopener">
    <span i18n="@@bb-us-onboarding-introduction-modal.link.learn-more">Learn more</span>
  </a>
</ng-template>

<ng-template #step3Tpl>
  <h2 i18n="@@bb-us-onboarding-introduction-modal.step3-name">Let’s get started</h2>
  <p i18n="@@bb-us-onboarding-introduction-modal.step3-description">
    You’re just minutes away from opening your account.</p>
  <div class="panel alert d-flex justify-content-start">
    <bb-input-checkbox-ui [formControl]="agreeCtrl" [id]="'agreeBox'" class="check-box" aria-label="Agree to terms and conditions">
    </bb-input-checkbox-ui>
    <label class="bb-text-default mb-0" for="agreeBox" i18n="@@bb-us-onboarding-introduction-modal.step3-agree">
      By tapping “Get Started” you agree to our
      <a [href]="(links$ | async)?.tncLink" target="_blank" rel="noopener">{{(links$ | async)?.tncLinkText}}</a>
      as well as our
      <a [href]="(links$ | async)?.privacyLink" target="_blank" rel="noopener">{{(links$ | async)?.privacyLinkText}}</a>.
    </label>
  </div>
</ng-template>
