<div class="tab-view mb-4" *ngIf='applicants$ | async as applicants; else error'>
  <bb-header-ui
    headingType="h1"
    heading="Hey{{applicants.coApplicant?.firstName ? ' ' + applicants.coApplicant?.firstName : ''}}, nice to meet you!"
    headingClasses="bb-text-semi-bold mb-4"
  ></bb-header-ui>
  <p class="bb-highlight bb-highlight--regular">
    <span class="bb-text-semi-bold">{{applicants.mainApplicant?.firstName || 'Someone'}} {{applicants.mainApplicant?.lastName || ''}}</span>
    has requested you to join as co-applicant.
    In order to assess the application, we will need also your information.
    Are you ready to complete your part?
  </p>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <div class="card">
        <div class="card-body text-small">
          <p class="bb-text-support bb-text-semi-bold">You are applying for</p>
          <div class="d-flex align-items-center">
            <img [src]="productImage$ | async" alt="product image" class="product-image mr-4" />
            <section>
              <h6>Current Account (Joint)</h6>
              <p>This product is the best one for you if you are looking for this product.</p>
              <bb-collapsible-ui [isOpen]="false">
                <ng-template bbCollapsibleBody>
                  <div class="bb-block mb-3">
                    <p class="d-flex mb-2">
                      <bb-icon-ui color="success" name="check" class="mr-2"></bb-icon-ui>
                      Benefit of this product
                    </p>
                    <p class="d-flex mb-2">
                      <bb-icon-ui color="success" name="check" class="mr-2"></bb-icon-ui>
                      Benefit of this product
                    </p>
                    <p class="d-flex mb-2">
                      <bb-icon-ui color="success" name="check" class="mr-2"></bb-icon-ui>
                      Benefit of this product
                    </p>
                  </div>
                </ng-template>
                <ng-template bbCollapsibleHeader let-toggle="toggle" let-isOpen="isOpen">
                  <div class="bb-block">
                    <a (click)="toggle()" class="d-flex toggle">
                      <bb-icon-ui [name]="isOpen ? 'toggle-up' : 'toggle-down'"></bb-icon-ui>
                      Show {{isOpen ? 'less' : 'more'}}
                    </a>
                  </div>
                </ng-template>
              </bb-collapsible-ui>
            </section>
          </div>
        </div>
      </div>
      <div class="bb-button-bar bb-button-bar--reverse bb-button-bar--spacing-xl">
        <bb-button-ui (click)="goToOnboarding($event)" class="bb-button-bar__button">
          I’m ready, let’s begin!
        </bb-button-ui>
      </div>
    </div>
  </div>
</div>

<ng-template #error>
  <bb-header-ui headingType="h1" heading="Oops! Nothing to see here." headingClasses="bb-text-semi-bold mb-4" ></bb-header-ui>
</ng-template>
