:host::ng-deep bb-icon-ui {
  align-self: flex-start;
}

.toggle {
  cursor: default;

  &:hover, &:active {
    text-decoration: none;
  }
}

bb-collapsible-ui {
  display: flex;
  flex-direction: column-reverse;
}

.product-image {
  max-width: 80px;
  margin-top: 0;
  align-self: flex-start;
  border-radius: 4px;

}
