<bb-modal-ui [isOpen]="isOpen" [modalOptions]="{backdrop: 'static', keyboard: false }">
  <iframe class="iframe-jumio p-4" title="Jumio Panel" *ngIf="iFrameSaveUrl" width="100%" height="480" allow="camera;fullscreen" allowfullscreen [src]="iFrameSaveUrl"></iframe>
</bb-modal-ui>
