<div class="px-4">
  <h3 class="h4">ID&V failed</h3>
  <div class="py-2">
    <div class="row mb-3">
      <div class="col-4 bb-text-semi-bold">Applicant Name</div>
      <div class="col-8">{{taskData.firstName}} {{taskData.lastName}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4 bb-text-semi-bold">Document status</div>
      <div class="col-8">{{taskData.identityVerificationResult.documentStatus}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4 bb-text-semi-bold">Identity validity status</div>
      <div class="col-8">{{taskData.identityVerificationResult.identityValidityStatus}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4 bb-text-semi-bold">Identity similarity status</div>
      <div class="col-8">{{taskData.identityVerificationResult.identitySimilarityStatus}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4 bb-text-semi-bold">Rejection reason</div>
      <div class="col-8">{{taskData.identityVerificationResult.rejectReasonCode}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4 bb-text-semi-bold">Identity reason</div>
      <div class="col-8">{{taskData.identityVerificationResult.identityReason}}</div>
    </div>
  </div>
</div>
<div class="bb-button-bar bb-button-bar--reverse bb-button-bar--spacing-sm px-4">
  <bb-load-button-ui class="bb-button-bar__button" (click)="approve()" [isLoading]="loading$ | async">Approve</bb-load-button-ui>
  <bb-load-button-ui class="bb-button-bar__button" (click)="reject()" color="secondary" [isLoading]="loading$ | async">Reject</bb-load-button-ui>
</div>

