<div class="p-5 info-box">
    <p>Help this applicant in completing the profile information.</p>
  </div>
  <div class="pt-4">
    <bb-idt-view-component (triggerIDT)="loadTaskJob()"
      header="Address"
      description="Provide information about the applicant"
      [iconsConfig]="iconsConfig"
      progress="0"
      [imageUrl]="idtImage"></bb-idt-view-component>
  </div>