<bb-modal-stepper (complete)="submitAction()" [isOpen]="true">
  <cdk-step [completed]="agreeCtrl.value">
    <ng-container *ngTemplateOutlet="step3Tpl"></ng-container>
  </cdk-step>
</bb-modal-stepper>

<ng-template #step3Tpl>
  <h2 i18n="@@bb-us-onboarding-introduction-modal.step3-name">Let’s get started</h2>
  <p i18n="@@bb-us-onboarding-introduction-modal.step3-description">
    You’re just minutes away from opening your account.</p>
  <div class="panel alert d-flex justify-content-start">
    <bb-input-checkbox-ui [formControl]="agreeCtrl" [id]="'agreeBox'" class="check-box" aria-label="Agree to terms and conditions">
    </bb-input-checkbox-ui>
    <label class="bb-text-default mb-0" for="agreeBox" i18n="@@bb-us-onboarding-introduction-modal.step3-agree">
      By tapping “Get Started” you agree to our
      <a [href]="(links$ | async)?.tncLink" target="_blank" rel="noopener">{{(links$ | async)?.tncLinkText}}</a>
      as well as our
      <a [href]="(links$ | async)?.privacyLink" target="_blank" rel="noopener">{{(links$ | async)?.privacyLinkText}}</a>.
    </label>
  </div>
</ng-template>
