
  <div [ngClass]="customClassName">
    <bb-button-ui color="primary" (click)="openModal()" i18n>
      <i aria-hidden="true" class="bicon bicon-add mr-2"></i>
      Start new case
    </bb-button-ui>
  </div>


<bb-modal-ui *ngIf="isModalOpen" [isOpen]="isModalOpen" (cancel)="closeModal()">
  <ng-container [ngSwitch]="currentStep">

    <bb-us-cm-start-case-personal-information *ngSwitchCase="'personal-information'" (cancelled)="closeModal()"
      (next)="goToStep($event)">
    </bb-us-cm-start-case-personal-information>
    <bb-us-cm-start-case-product-selection *ngSwitchCase="'select-products'" (cancelled)="closeModal()"
      (next)="finish()">
    </bb-us-cm-start-case-product-selection>

  </ng-container>

</bb-modal-ui>
