<form [formGroup]="form">
    <div class="card mb-4">
        <div class="card-body">
            <div class="mb-4">
                <bb-dropdown-single-select-ui label="Country of citizenship" placeholder="Please select"
                    formControlName="citizenshipCountryCode" [required]="true">
                    <bb-dropdown-single-select-option-ui *ngFor="let country of countryListArray" [value]="country.code"
                        [label]="country.label"></bb-dropdown-single-select-option-ui>
                </bb-dropdown-single-select-ui>
                <bb-input-validation-message-ui *ngIf="form.get('citizenshipCountryCode')?.errors as errors"
                    [showErrors]="form.get('citizenshipCountryCode')?.touched">
                    <div id="required" *ngIf="errors?.required">
                        Please select one
                    </div>
                </bb-input-validation-message-ui>
            </div>
            <div id="residency-address" class="mb-4" formGroupName="residencyAddress">
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <label class="bb-text-bold text-nowrap" id="numberAndStreet">
                            Permanent residence address
                            <span class="bb-text-support bb-text-default">(Optional)</span>
                        </label>
                        <bb-input-text-ui i18n-label formControlName="numberAndStreet" aria-labelledby="numberAndStreet">
                        </bb-input-text-ui>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 mb-3">
                        <label class="bb-text-bold text-nowrap" id="city">
                            City and province
                            <span class="bb-text-support bb-text-default">(Optional)</span>
                        </label>

                        <bb-input-text-ui i18n-label class="d-block" formControlName="city" aria-labelledby="city">
                        </bb-input-text-ui>
                    </div>
                    <div class="col-sm-5 mb-3">
                        <label class="bb-text-bold text-nowrap" id="zipCode">
                            ZIP code
                            <span class="bb-text-support bb-text-default">(Optional)</span>
                        </label>

                        <bb-input-text-ui i18n-label class="d-block" formControlName="zipCode" aria-labelledby="zipCode">
                        </bb-input-text-ui>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-2">
                        <bb-dropdown-single-select-ui label="Country" placeholder="Please select"
                            formControlName="countryCode" [required]="true">
                            <bb-dropdown-single-select-option-ui *ngFor="let country of countryListArray"
                                [value]="country.code" [label]="country.label"></bb-dropdown-single-select-option-ui>
                        </bb-dropdown-single-select-ui>
                        <bb-input-validation-message-ui
                            *ngIf="form.get('residencyAddress.countryCode')?.errors as errors"
                            [showErrors]="form.get('residencyAddress.countryCode')?.touched">
                            <div id="required" *ngIf="errors?.required">
                                Please select one
                            </div>
                        </bb-input-validation-message-ui>

                    </div>
                </div>
            </div>
            <div id="tax-identification">
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label class="bb-text-bold text-nowrap" id="nationalTin">
                            US taxpayer identification number (ITIN)
                            <span class="bb-text-support bb-text-default">(if applicable)</span>
                        </label>
                        <bb-input-text-ui formControlName="nationalTin" aria-labelledby="nationalTin">
                        </bb-input-text-ui>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <bb-input-text-ui i18n-label label="Foreign Tax Identification Number"
                            formControlName="foreignTin" aria-labelledby="foreignTin">
                        </bb-input-text-ui>
                        <bb-input-validation-message-ui *ngIf="form.get('foreignTin')?.errors as errors"
                            [showErrors]="form.get('foreignTin')?.touched">
                            <div id="required" *ngIf="errors?.required">
                                Field is required
                            </div>
                        </bb-input-validation-message-ui>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <bb-input-radio-group-ui formControlName="withholdingTaxAccepted"
                            aria-labelledby="label-withoulding-tax" [required]="true" [preselect]="false"
                            label="Do you want to apply for a reduced withholding tax rate on US source income?">
                            <bb-input-radio-ui [value]="true" label="Yes"></bb-input-radio-ui>
                            <bb-input-radio-ui [value]="false" label="No"></bb-input-radio-ui>
                        </bb-input-radio-group-ui>
                        <bb-input-validation-message-ui *ngIf="form.get('withholdingTaxAccepted')?.errors as errors"
                            [showErrors]="form.get('withholdingTaxAccepted')?.touched">
                            <div id="required" *ngIf="errors?.required">
                                Please select one
                            </div>
                        </bb-input-validation-message-ui>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <bb-header-ui headingType="h2" headingClasses="mb-3 bb-text-semi-bold" heading="Certification">
            </bb-header-ui>

            <p>You can apply for a reduced withholding tax rate on US source income under the double tax treaty between
                your country of tax residence and the United States of America. Based on the information you provide,
                (Bank Name) will determine your entitlement to treaty benefits.</p>

            <hr>

            <p class="bb-text-semi-bold">I certify that:</p>
            <ul>
                <li class="mb-1">
                    I am the individual that is the beneficial owner (or am authorised to sign for the
                    individual that is the beneficial owner) of all the income to which this form relates or am using
                    this form to document myself for chapter 4 purposes.</li>
                <li class="mb-1">I am a resident of the treaty country listed above (if any) within the meaning of the
                    income tax treaty between the United States and that country.</li>
                <li class="mb-1">I am not a US person.</li>
                <li class="mb-3">The income to which this form relates is: (a) not effectively connected with the
                    conduct of a trade or business in the United States, (b) effectively connected but is not subject to
                    tax under an applicable income tax treaty, or (c) the partner’s share of a partnership's effectively
                    connected income.</li>
                <li class="mb-3">The information provided:
                    <ul class="mt-2">
                        <li class="mb-1"> is true, correct, and complete to the best of my knowledge and belief </li>
                        <li class="mb-1"> can be provided to any withholding agent that has control, receipt, or custody
                            of the income of which I am the beneficial owner or any withholding agent that can disburse
                            or make payments of the income of which I am the beneficial owner</li>
                    </ul>
                </li>
                <li class="mb-3 bb-text-semi-bold">
                    I will submit a new form within 30 days if any certification made on
                    this form becomes incorrect.
                </li>
            </ul>

            <hr>

            <div class="d-flex">
                <bb-input-checkbox-ui [id]="'inputCheckboxAriaLabelledby'" data-role="checkbox-aria-labelledby"
                    [aria-labelledby]="'ariaLabeledById'" formControlName="w8benAccepted">
                </bb-input-checkbox-ui>
                <label for="inputCheckboxAriaLabelledby" class="bb-text-default mt-1">I certify under penalty of forgery, that I am authorised to sign and agree
                    with the above declarations.</label>
            </div>
        </div>
    </div>

</form>

<div class="bb-button-bar bb-button-bar--spacing-xl">
    <bb-load-button-ui [isLoading]="loading$ | async" color="primary" [disabled]="submitted && form.invalid"
        class="bb-button-bar__button" (click)="submitAction()" id="continue-button">
        Continue
    </bb-load-button-ui>
    <bb-button-ui *ngIf="backStep$ | async as backStep" data-role="ono-non-resident-data-back-button" color="secondary"
        (click)="goBack(backStep)" class="mr-2">Back</bb-button-ui>
</div>
