<bb-modal-header-ui title="Start a new case"></bb-modal-header-ui>
<bb-modal-body-ui>
  <ng-template bbCustomModalBody>
    <formly-form [fields]="fields"
    [form]="form" [model]="model"></formly-form>
  </ng-template>
</bb-modal-body-ui>
<bb-modal-footer-ui>
  <ng-template bbCustomModalFooter>
    <bb-button-ui ngbAutofocus color="secondary" (click)="cancel()"> Cancel </bb-button-ui>
    <bb-load-button-ui (click)="submit()"> Next </bb-load-button-ui>
  </ng-template>
</bb-modal-footer-ui>

