<div class="card">
  <div class="card-body">
    <formly-form [fields]="helper.fieldsConfig" [form]="helper.form" [model]="helper.value"></formly-form>
  </div>
</div>
<div class="bb-button-bar bb-button-bar--spacing-xl">
  <bb-load-button-ui [isLoading]="helper.loading$ | async" color="primary" (click)="submitAction()" [disabled]="submitted && helper.form.invalid"
    class="bb-button-bar__button">Continue
  </bb-load-button-ui>
</div>