<div class="card">
  <div class="card-body">
    <formly-form [fields]="helper.fieldsConfig" [form]="helper.form" [model]="helper.value"></formly-form>
    <ul class="strength-list">
      <li [ngClass]="{ valid: has8Characters }">At least 8
        characters</li>
      <li [ngClass]="{ valid: includesNumber }">Include a number
      </li>
      <li [ngClass]="{ valid: includesUppercase }">Include an uppercase character</li>
    </ul>
  </div>
</div>
<div class="bb-button-bar bb-button-bar--spacing-xl">
  <bb-load-button-ui [isLoading]="helper.loading$ | async" color="primary" (click)="submitAction()" [disabled]="submitted && helper.form.invalid"
    class="bb-button-bar__button">Continue
  </bb-load-button-ui>
</div>